<!DOCTYPE html>
<html lang="{{.Texts.lang}}">
<head>
    <meta charset="UTF-8">
    <title>{{.Texts.title}}</title>
    <link rel="stylesheet" type="text/css" href="/web/static/style.css">
    <script type="text/javascript" src="/web/js/script.js"></script>
</head>
<body>
    <!-- Musique de fond -->
    <audio class="BackgroundMusic" id="background-music" autoplay loop controls>
        <source src="/web/static/HorrorMusic.mp4" type="audio/mpeg">
    </audio>

    <!-- Contrôles musique -->
    <div class="controlMusic">
        <button class="control-button" onclick="playMusic()">
            <img src="/web/static/MusicON.png" alt="musique allumée" class="imgMusique">
        </button>
        <button class="control-button" onclick="pauseMusic()">
            <img src="/web/static/MusicOFF.png" alt="musique éteinte" class="imgMusique">
        </button>
    </div>

    <!-- Titre du jeu -->
    <div class="Title">
        <p>{{.Texts.subtitle}}</p>
    </div>

    <!-- Affichage du mot et des lettres -->
    <div class="gameprint">
        <p>{{.Texts.wordLabel}} :
            {{range .GuessedWord}} {{.}} {{end}}
        </p>
        <p>{{.Texts.usedLetters}} : {{.GuessedLetter}}</p>
    </div>

    <!-- Image du pendu -->
    {{ if and (ge .Try 1) (le .Try 9) }}
        <img class="overlayImage" src="/web/static/{{.Try}}.png" width="1280">
    {{ end }}

    <!-- Lettres à cliquer -->
    <div class="letters">
        {{range .Alphabet}}
        <form method="post" style="display:inline;">
            <input type="hidden" name="guess" value="{{.}}">
            <button class="buttonLetter" type="submit">{{.}}</button>
        </form>
        {{end}}
    </div>

    <!-- Bouton retour -->
    <div class="BackButton">
        <div class="card">
            <div class="InfoPres">
                <p><a href="/{{.Texts.lang}}">{{.Texts.back}}</a></p>
            </div>
        </div>
    </div>
</body>
</html>
