<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Language Selection</title>
    <link rel="stylesheet" type="text/css" href="web/static/style.css">
    <script type ="text/javascript" src="web/js/script.js"></script>
</head>
<body>
<audio class="BackgroundMusic" id="background-music" autoplay loop controls>
    <source src="web/static/HorrorMusic.mp4" type="audio/mpeg">
</audio>
<div class="controlMusic">
    <button class="control-button" onclick="playMusic()"><img src="web/static/MusicON.png" alt="musique allumée" class="imgMusique"> </button>
    <button class="control-button" onclick="pauseMusic()"><img src="web/static/MusicOFF.png" alt="musique éteinte" class="imgMusique"></button>
</div>
<div class="Title">
    <p> LANGUAGE </p>
</div>
<div class="CardContainer">
    <div class="card">
        <div class="InfoPres">
            <p><a href="Fr">FRANCAIS</a></p>
        </div>
    </div>
    <div class="card">
        <div class="InfoPres">
            <p><a href="En">ENGLISH</a> </p>
        </div>
    </div>
    <div class="card">
        <div class="InfoPres">
            <p><a href="Deutsch">DEUTSCH</a> </p>
        </div>
    </div>
</div>
<div class="BackButton">
    <div class="card">
        <div class="InfoPres">
            <p><a href="/">BACK</a></p>
        </div>
    </div>
</div>
</body>
</html>