<!DOCTYPE html>
<html lang="{{.Language}}">
<head>
  <meta charset="UTF-8">
  <title>{{.PageTitle}}</title>
  <link rel="stylesheet" type="text/css" href="../web/static/style.css">
  <script type="text/javascript" src="web/js/script.js"></script>
</head>
<body id="loose">
<div class="textLoose">
  <p>{{.TextLoose}} : {{.WordSelect}}</p>
</div>
<div class="CardContainerEnd">
  <div class="cardEnd">
    <div class="InfoPresEnd">
      <p><a href="/">{{.LinkHome}}</a></p>
    </div>
  </div>
  <div class="cardEnd">
    <div class="InfoPresEnd">
      <p><a href="/language">{{.LinkReplay}}</a></p>
    </div>
  </div>
</div>
</body>
</html>