<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Win Page</title>
    <link rel="stylesheet" type="text/css" href="../../static/style.css">
    <script type ="text/javascript" src="../../JS/script.js"></script>
</head>
<body id="win">
<div class="textWin">
    <p>Well done, you managed to escape... But for how long...</p>
</div>
<div class="CardContainerEnd">
    <div class="cardEnd">
        <div class="InfoPresEnd">
            <p><a href="/">Back to main menu</a></p>
        </div>
    </div>
    <div class="cardEnd">
        <div class="InfoPresEnd">
            <p><a href="/language">Want to play again ?</a> </p>
        </div>
    </div>
</div>
</body>
</html>