<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Page de défaite</title>
  <link rel="stylesheet" type="text/css" href="web/static/style.css">
  <script type ="text/javascript" src="web/js/script.js"></script>
</head>
<body id="loose">
<div class="textLoose">
<p> Tu es mort... Au moins ta chair aura servi à quelque chose</p>
<p> Le mot était : {{.WordSelect}} </p>
</div>
<div class="CardContainerEnd">
  <div class="cardEnd">
    <div class="InfoPresEnd">
      <p><a href="/">Retour au menu principal</a></p>
    </div>
  </div>
  <div class="cardEnd">
    <div class="InfoPresEnd">
      <p><a href="/language">Envie de rejouer ?</a> </p>
    </div>
  </div>
</div>
</body>
</html>