<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Page de victoire</title>
  <link rel="stylesheet" type="text/css" href="../web/static/style.css">
  <script type ="text/javascript" src="web/js/script.js"></script>
</head>
<body id="win">
<div class="textWin">
  <p>Bien joué, tu as réussi à t'échapper... Mais pour combien de temps...</p>
</div>
<div class="CardContainerEnd">
  <div class="cardEnd">
    <div class="InfoPresEnd">
      <p><a href="/">Retour au menu principal</a></p>
    </div>
  </div>
  <div class="cardEnd">
    <div class="InfoPresEnd">
      <p><a href="/language">Envie de rejouer ?</a> </p>
    </div>
  </div>
</div>
</body>
</html>