<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lose Seite</title>
  <link rel="stylesheet" type="text/css" href="../web/static/style.css">
  <script type ="text/javascript" src="web/js/script.js"></script>
</head>
<body id="loose">
<div class="textLoose">
<p>Du bist gestorben ... Zumindest war dein Fleisch nützlich</p>
<p> Das Wort war : {{.WordSelect}} </p>
</div>
<div class="CardContainerEnd">
  <div class="cardEnd">
    <div class="InfoPresEnd">
      <p><a href="/">Zurück zum Hauptmenü</a></p>
    </div>
  </div>
  <div class="cardEnd">
    <div class="InfoPresEnd">
      <p><a href="/language">Willst du noch einmal spielen ?</a> </p>
    </div>
  </div>
</div>
</body>
</html>