<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Win-Seite</title>
  <link rel="stylesheet" type="text/css" href="../web/static/style.css">
  <script type ="text/javascript" src="web/js/script.js"></script>
</head>
<body id="win">
<div class="textWin">
  <p>Gut gemacht, du hast es geschafft zu fliehen... Aber wie lange...</p>
</div>
<div class="CardContainerEnd">
  <div class="cardEnd">
    <div class="InfoPresEnd">
      <p><a href="/">Zurück zum Hauptmenü</a></p>
    </div>
  </div>
  <div class="cardEnd">
    <div class="InfoPresEnd">
      <p><a href="/language">Willst du noch einmal spielen ?</a> </p>
    </div>
  </div>
</div>
</body>
</html>